@import '@/color.scss';

#thread.md-editor {
  background: transparent;
  color: $textColor
}
.md-editor-preview-wrapper{
  background: transparent;
  
  h1 {
    color: $purple;
    font-weight: bold;
    text-transform: capitalize;
  }

  code.languages-json{
    font-family: 'Source Code Pro', monospace;
  }
}