@import '@/color.scss';

/* FORM INPUT */
.input-box{
    &.error{
        border-color: $red;
        animation: shake 300ms;
    }

    @keyframes shake {
        0%, 100% {transform: translate(0);}
        25% {transform: translate(0.125rem);}
        75% {transform: translate(-0.125rem);}
    }
}