@import 'styles/global.scss';

.breadcrumbs{
    margin: 1.4rem 0 1rem 0;
    margin-left: 1rem;

    *{
        font-size: .9rem;
        font-weight: 500;
        user-select: none;
    }

    .breadcrumbBody{
        display: flex;
        align-items: center;
        color: var(--actions-color);
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .breadcrumbsItem{
        display: flex;
        scroll-snap-align: end;
        scroll-snap-stop: always;

        .breadcrumbsLink{
            color: var(--accent-color);
        }

        .breadcrumbsIcon{
            margin: 0 .4rem;
            font-size: .8rem;
            font-weight: 400;
            color: var(--actions-color);
            position: relative;
            top: 1px;
            opacity: .8;
            user-select: none;
            align-self: center;
        }
    }
}